.wrapper {
  background-color: var(--black);
  display: grid;
  grid-template-columns: minmax(320px, 600px) minmax(320px, 600px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  min-height: 100vh;
  gap: 0 30px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "body body"
    "footer footer"
  ;
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}

@media(max-width: 765px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      "header"
      "body"
      "footer"
    ;
  }

  .sidebar {
    display: none;
  }

  .header {
    display: block;
  }
}