* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  color: var(--white);
  background: #F5F6F8;
  font-family: var(--font-family);

}

a {
  text-decoration: none;

  color: inherit;
}

:root {
  --white: #FFFFFF;
  --black: #14161C;
  --header-black: #181A20;
  --grey: #a6abb8;
  --green: rgba(122, 217, 79, 0.9);
  --green-light-button: linear-gradient(180deg, #7AD94F 0%, #00AD18 100%),
    linear-gradient(180deg, rgba(122, 217, 79, 0.8) 0%, rgba(0, 173, 24, 0.8) 100%);
  --green-dark-card: linear-gradient(180deg, rgba(122, 217, 79, 0.1) 0%, rgba(0, 173, 24, 0.1) 100%);
  --green-card-background: linear-gradient(180deg, #7AD94F 0%, #00AD18 100%),
    linear-gradient(180deg, rgba(122, 217, 79, 0.1) 0%, rgba(0, 173, 24, 0.1) 100%);
  --font-family: 'Roboto Mono', monospace;
}